.header-btn{
  display: block;
  width: 293px;
  min-height: 70px;
  background-color: rgb(235,125,75);
  color:rgb(252,238,231);
  text-transform: uppercase;
  outline: none;
  border:none;
  border-radius:5px;
  margin: 54px auto;
  box-shadow:inset 0 -5px 0 -1px rgba(0,0,0,0.5);
  cursor:pointer;
}