.skills{
  min-height: 655px;
  padding-top: 117px;
}

.skills-block {
  width: 87px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  opacity: 15%;
  margin: 21px auto 23px;
}

.skills-text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgb(60, 71, 97);
}

