.team-menu{
  width: 1140px;
  min-height:480px;
  margin:78px auto;
  display: grid;
  grid-template-columns: repeat(4,22%);
  grid-template-rows: auto;
  grid-column-gap:4%;
}


.team-menu__item-image{
  width:200px;
  height: 200px;
  border-radius:50%;
  background-color: rgb(135,135,135);
  margin: 0 auto 20px;
}

.team-menu__item-ref{
  display: block;
  text-align: center;
  margin: 12px auto 20px;
  color:rgb(97,201,236);
  text-transform: uppercase;

}
